@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-900: hsl(0, 0%, 8%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-700: hsl(0, 0%, 20%);

  --radius-card-radius: 10px;
  /* --radius-img-radius: 10px; */

  /* --text-base: 16px;
  --text-lg: 24px; */

  --tracking-custom: 0.02em;

  /* --leading-150: 1.5;

  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  --shadow-card-shadow: 8px 8px 0 0 #000; */

  --breakpoint-xs: 375px;
  --breakpoint-xl: 1440px;
}
